### 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

### 1. 주석(comment)과 출력(print)

In [1]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안 됩니다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 : ctrl(cmd) + /
# 블럭설정 : shift + 방향키/ alt + shift + 방향키 단어 단위로 블럭 설정

# 1, 2, 3을 출력하는 코드
print(1)
# print(2)
print(3)

1
3

In [ ]:
# 출력 : print 함수
# 코드 중간에 변수안에 들어있는 값을 확인하고 싶을 때 사용

In [3]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [5]:
# print 함수의 옵션
# docstring : 함수에 대한 설명 : 단축키 shift + tab
# 자동완성 : tab
print(1, 2, sep="-", end="\t")
print(3)
print

1-2	3

In [6]:
python_data_science = 1

In [7]:
python_data_science

1

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [10]:
a = 1
b = 2
c = a + b
c

3

In [11]:
d, e = 3, 4
f = g = 5

### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용합니다.
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가 : def, class, try, except ...
    - 컨벤션
        - snake case : fast_campus : 변수, 함수
        - camel case : FastCampus, fastCapus : 클래스

In [12]:
# 10a = 5 오류

In [14]:
# def = 1 오류

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [15]:
a = 1
# int a = 1
# int a = "python" 오류
b = "python"
type(a), type(b)

(int, str)

In [16]:
# 기본 데이터 타입 : int, float, bool, str
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [19]:
a + b

2.2

In [20]:
a + d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
# 데이터 타입에 함수 : 문자열(문자열 데이터 타입에 함수 이용하기)
# upper : 대문자로 변환
d.upper()

'DATA'

In [24]:
e = d.upper()
d, e

('data', 'DATA')

In [25]:
f = "Fast cmpus"

In [26]:
# lower : 소문자로 변환
f.lower()

'fast cmpus'

In [27]:
# strip : 앞뒤 공백제거, 크롤링할 때 많이 사용
f.strip()

'Fast cmpus'

In [28]:
# replace : 특정 문자열 치환
f.replace("Fast", "Slow")

'Slow cmpus'

In [29]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
f.replace(" ", "")

'Fastcmpus'

In [31]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [32]:
g = "abcdefg"

In [41]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[::2], g[::-1]
# 0부터 시작하고 [이상:미만],

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'aceg', 'gfedcba')

In [42]:
number = "123456789" # 97531 출력되도록 하라

In [43]:
number[::-2] # 내방법

'97531'

In [44]:
result = number[::2]
result[::-1]

'97531'

In [45]:
a = 1
b = 2
a + b
# ipython 마지막 줄 변수를 출력하는 기능이 있음

3

In [47]:
a = 1
b = 2
a + b
c = 5
# 이렇게 하면 실행했을 때 아무것도 출력 안 됨

In [46]:
a = 1
b = 2
print(a + b)

3

### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

In [48]:
# list 
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [51]:
# offset index 사용이 가능
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [52]:
ls = [1, 5, 2, 4]

In [53]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [56]:
# sort : 오름차순으로 정렬
ls.sort()
ls
ls[::-1] #내림차순 정렬(따로 없음, 오름차순 후 역순)

[5, 4, 3, 2, 1]

In [64]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop() # 가장 마지막 데이터가 num에 들어가고 리스트에서는 삭제됨
num, ls

(3, [1, 2])

### 리스트의 복사 (중요!)

In [66]:
ls1 = [1, 2, 3]
ls2 = ls1 # 얕은 복사 : 주소값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [67]:
ls1[2] = 5

In [68]:
ls1, ls2
# 값을 복사한 게 아니라 주소를 복사한 거라 원본이 바뀌어버림(주소를 공유해서 값까지 공유)

([1, 2, 5], [1, 2, 5])

In [69]:
ls3 = ls1.copy() # 원본은 살리고 복사본을 수정할 때 함수 사용
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [70]:
ls1[2] = 10

In [71]:
ls1, ls3

([1, 2, 10], [1, 2, 5])

In [72]:
ls1, ls2

([1, 2, 10], [1, 2, 10])

### Tuple : 리스트와 같지만 수정이 불가능한 데이터 타입
- tuple은 리스트보다 (같은 데이터를 가졌을 때) 공간을 적게 사용
- 리스트와 같지만 수정이 불가능한 데이터 타입

In [74]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6) # 괄호 써서 쓰기
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [75]:
a, b = 1, 2 # 얘네도 튜플, 여러 값을 한 번에 받을 수 있음
a, b

(1, 2)

In [76]:
#offset index 사용 가능
tp1[1], tp2[::-1]

(2, (6, 5, 4))

In [78]:
# 리스트와 튜플의 저장공간 차이 비교
import sys # 다른 사람이 짜 놓은 코드 가져옴

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

80 64

#### dict {}
- 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입

In [81]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용
dic = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2, 3]
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [83]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [86]:
dic["two"] = 123

In [87]:
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [88]:
# 아래의 데이터를 list와 dict로 선언하시오.
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [91]:
# list
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [92]:
#dict
city_pop = {"seoul" : 97, "busan" : 34, "daegu" : 24}

In [95]:
sum(population)

15500000

In [96]:
sum(city_pop)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [97]:
sum(city_pop.values())
# 숫자만 집어주는 건가봐 .values()

155

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [99]:
a = 1
b = "2"
a + int(b)

3

In [100]:
str(a) + b

'12'

In [102]:
list(city_pop.values())

[97, 34, 24]

In [104]:
# zip : 같은 인덱스 데이터를 묶어서 튜플로 만들어 리스트 생성
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [107]:
result = dict(list(zip(city, population)))
result

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [108]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [109]:
# 형변환이 다 되는 것은 아님
string = "python"
int(string)

ValueError: invalid literal for int() with base 10: 'python'

### 6. 연산자
- 산술연산자 : +, - , *, /, //, %, **
- 할당연산자 : 변수에 누적시켜서 연산 : +=, //=, **= ...
- 비교연산자 : >, <, ==, !=, <=, >= : 결과로 True, False
- 논리연산자 : True, False 를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할 때 사용 : not in, in

In [1]:
a = 1
b = 2
a + b

3

In [2]:
(1 + 4) / 2 ** 2
# 연산자 우선순위 : 산술 > 비교 > 멤버 > 논리

1.25

In [4]:
a = 10
# a = a + 10
# a = a + 10
a += 10
a += 10
a

30

In [6]:
# 비교연산
print(a, b)
a < b, a == b, a != b

30 2

(False, False, True)

In [9]:
# 논리연산
True and False, True or False, not True or False

(False, True, False)

In [11]:
# 멤버 연산
ls = ["jin", "andy", "jhon"]

In [12]:
"andy" in ls, "anchel" in ls, "jhon" not in ls

(True, False, False)

In [20]:
### 랜덤함수
import random

random.randint(1, 10)

10

In [22]:
# 입력함수
data = input("insert string : ")
data

insert string : 안녕하세요

'안녕하세요'

In [23]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [24]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 개수에 맞게 랜덤한 index 정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력

In [26]:
# 솔루션을 리스트로 작성
solutions = [
    "무엇을 하든 잘 안 될 것이다.",
    "생각지도 않게 좋은 일이 생길 것이다.",
    "무엇을 상상하든 그 이상이다."
]

# 질문 입력 받음
input("질문을 입력하세요 : ")

# 솔루션의 개수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions)-1)

# index 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요 : 오늘 저녁에 맛있는 것을 먹을 수 있을까요?

'무엇을 하든 잘 안 될 것이다.'