### summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : cmd(ctrl) + /
        - 셀 생성 : a(위에), b(아래)
- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자 숫자사용 불가
        - 예약어 사용이 불가 : def, class, try ...
        - snake_case(변수, 함수), CamelCase(클래스)
        - pep8 문서(식별자 등 컨벤션 규칙)
    - 데이터 타입
        - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
        - 기본 데이터 타입 : int, float, boo, str
        - 컬렉션 데이터 타입 : list(iterable), tuple(iterable 순서가 있음), dict
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - [idx] : idx 위치 데이터를 출력
            - [start : end] : start에서 end까지 출력(end는 불포함)
            - [start : end : stride] : stride 만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 존재(upper 등)
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip
            - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
            - 두개의 리스트를 묶어서 dict 형변환
    - 연산자
        - 산술 : +, -, /, //, %, **
        - 할당 : A (산술)= (data)
        - 비교 : <, >, ==, !=, <=, >=
        - 논리 : and, or, not
        - 멤버 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

In [4]:
# 조건부문에 bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단

if False :
    print("python")
    
    print("done")

In [5]:
# int : 0을 제외한 나머지 값을 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [6]:
num = 0

if num:
    print("python_1")
    
num = 1

if num:
    print("phthon_2")

phthon_2

In [9]:
number = 7

# if number % 2 == 1:
#     print("홀수")

if number % 2:
    print("홀수")
    
# 0은 무조건 False라 출력이 안 되기 때문에 짝수면 출력이 안 됨 나머지 == 1 필요 없음

홀수

### int : 0을 제외한 나머지 값을 True
### float : 0.0을 제외한 나머지 실수는 True
### str : ""를 제외한 나머지 문자열은 True
### list, tuple, dict : [], (), {}를 제외한 나머지는 True

In [15]:
fruit = ["banana", "apple", "grape"]
alpha = (1, 2)
num = {7:"행운", 4:"불운"}

In [16]:
bool(fruit), bool(alpha), bool(num)

(True, True, True)

In [17]:
a = []
b = 0.0
str_1 = ""

In [18]:
bool(a), bool(b), bool(str_1)

(False, False, False)

### 지갑에 돈이 10000원 이상 있으면 택시를 타고 그렇지 않으면 걸어서 집에 갑니다.

In [25]:
money = input("소지금 : ")
money_num = int(money)

if money_num >= 10000 :
    print("택시를 탄다.")
else :
    print("걸어서 간다.")

소지금 : 10000
택시를 탄다.

In [27]:
money_2 = 12000

if money_2 >= 10000 :
    print("택시를 타고 집에 갑니다.")
else : 
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

# Q 궁금한 거
- 입력을 받을 때는 무조건 문자열로 받나요? 네~
- 정수나 실수 등으로 입력 받을 수는 없나요?

### 지갑에 돈이 만원 이상 있으면 택시를 탑니다.
### 2000원 이상 있으면 버스를 탑니다.
### 그렇지 않으면 걸어서 집에 갑니다.

In [34]:
money = 6000

if money >= 10000 :
    print("택시를 타고 집에 갑니다.")
elif money >= 5000 : 
    print("광역버스를 타고 집에 갑니다.")
elif money >= 2000 : # and money < 10000 : 10000원 이상이면 위에서 하고 바로 나옴, 생략 가능
    print("버스를 타고 집에 갑니다.")
else :
    print("걸어서 집에 갑니다.")

광역버스를 타고 집에 갑니다.

### 연습문제
- 계좌에 10000원이 들어있습니다.
- 인출 금액을 입력 받습니다.
- 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." 출력
- 인출 금액이 계좌에 있는 금액보다 작으면 "인출이 되었습니다." 출력
- 마지막에 현재 계좌의 잔액을 출력

In [42]:
balance_money = 10000

draw_money = int(input("인출 금액 : "))

if draw_money > balance_money :
    print("인출이 불가능합니다.")
else : 
    print("인출이 되었습니다.")
    print("잔액 :", balance_money - draw_money)

인출 금액 : 2000
인출이 되었습니다.
잔액 : 8000

In [44]:
account = 10000

draw_money = int(input("insert draw money: "))

if account >= draw_money:
    account -= draw_money
    print(draw_money, "원이 인출되었습니다.") # print(str(draw_money) + "원이 인출되었습니다.") 가능
else:
    print("인출이 불가능합니다.", draw_money - account, "원의 잔액이 부족합니다.")
    
print("현재 잔액은", account, "원 입니다.")

insert draw money: 3000
3000 원이 인출되었습니다.
현재 잔액은 7000 원 입니다.

In [50]:
# string 데이터 타입의 format 함수
print("현재 잔액은 " + str(account) + " 원 입니다.") # , 콤마로 구분하면 띄어쓰기가 생기나봄
print("현재 잔액은 {} 원 입니다. 인출 금액은 {} 원 입니다.".format(account, draw_money))
print("현재 잔액은 {data2} 원 입니다. 인출 금액은 {data1} 원 입니다.".format(data1=draw_money, data2=account))

현재 잔액은 7000 원 입니다.
현재 잔액은 7000 원 입니다. 인출 금액은 3000 원 입니다.
현재 잔액은 7000 원 입니다. 인출 금액은 3000 원 입니다.

### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if(condition) else(Flase)

In [51]:
# data 변수에 0이면 "zero" 출력, 아니면 "not zero" 출력

data = 0

if data :
    print("not zero")
else : 
    print("zero")

zero

In [54]:
data = 0

result = "not zero" if data else "zero"
result

'zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehention

In [55]:
# while

data = 3
while data : # 조건이 False가 될 때까지 구문의 코드를 실행
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

### while 연습문제
- 학생이 국어 80점, 영어 90점, 수학 100점을 맞았을 때 while 문을 이용하여 총점과 평균을 출력하시오.
- 학생의 점수는 list, dict 표현
- len, dict.values(), list.pop()

In [58]:
grade = [80, 90, 100]
data = 0

while grade :
    data = +grade.pop()
    
print("총점은 {} 점, 평균은 {} 점 입니다.".format(data, data/3))

총점은 80 점, 평균은 26.666666666666668 점 입니다.

In [59]:
subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
points_dict = {"korean":80, "english":90, "math":100}

total, avg = 0, 0

datas = points_ls.copy() # 깊은 복사 : 원본 데이터 보존

while datas :
    total += datas.pop()
    
avg = total / leng(points_ls)

print(total, avg)

270 90.0

In [68]:
# 무한루프 : break
# break : 반복문으 중단시킬 때 사용되는 예약어

result = 1
i = 0
while result:
    
    i += 1
    
    result += 1    
    
    if result >= 10 :
        break
        
print(result, i)

# In [*] 은 셀이 실행중이라는 의미, 커널에 인터럽트 누르면 중지됨

10 9

# for
- iterable한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 변수의 값 개수만큼 실행
```
for <varable> in <iterables>:
    <code>
```

In [73]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3, 4]
for data in ls :
    if data % 2 : # data가 홀수면 continue 실행
        continue
    print(data, end=" ") # data가 짝수면 print 실행

0 2 4

In [75]:
# for문을 이용하여 코드를 100번 실행
# range 함수 : 시작과 끝을 설정해서 범위 생성 가능
- range 생성 시 7가지 유형의 데이터 외에 range라는 형태의 데이터가 생성되는 것임

list(range(100)) # 따라서 list 로 변환해주나 원래 range는 iterable
result = 0
for data in range(100):
    result += data
result

4950

In [78]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5,10)), list(range(0, 10, 2)), list(range(10, 0, -2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8], [10, 8, 6, 4, 2])

In [79]:
# 0 ~ 10 까지 짝수를 더한 총함
result = 0
for number in range(0, 11, 2):
    result += number
result

30

In [80]:
points_dict = {"korean":80, "english":90, "math":100}

In [81]:
for data in points_dict :
    print(data) # dict를 iterable한 데이터 타입에 넣었을 때는 키값만 출력됨

korean
english
math

In [82]:
list(points_dict.items()) # items 튜플 데이터 리스트 형태로 만들어 준다.

[('korean', 80), ('english', 90), ('math', 100)]

In [84]:
for subject, point in points_dict.items() : # 튜플 값을 동시에 받을 수도 있나봄
    print(subject, point)

korean 80
english 90
math 100

In [89]:
# for문에서 iterable 데이터가 tuple 로 나오면 여러개의 변수로 받을 수 있습니다.

subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
for subject, point in zip(subjects_ls, points_ls) :
    print(subject, point)

korean 80
english 90
math 100

In [91]:
list(zip(subjects_ls, points_ls))

[('korean', 80), ('english', 90), ('math', 100)]

In [85]:
# tuple
a, b = 1, 2
a, b

(1, 2)

### 연습문제
- 구구단 출력 (가로출력)
- 이중 for문

In [6]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
num2 = [2, 3, 4, 5, 6, 7, 8, 9]
count = 1

for product in num :
    for product2 in num2 :
        print("{}*{}={}".format(product2, count, product2*count), end="\t")
    count += 1
    print(end="\n")

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [8]:
for num2 in range(1, 10) :
    for num1 in range(2,10) : 
        print("{}*{}={}".format(num1,num2,num1*num2), end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### 3. List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문보다 빠르게 동작합니다(for문의 2/3 수준 소요).

In [11]:
# 각각 값을 제곱한 결과 출력
ls = [0, 1, 2, 3]
result = []

# for result in ls :
#     print(result**)

for data in ls :
    result.append(data**2)
result

[0, 1, 4, 9]

In [12]:
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [14]:
# 리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항연산 사용

ls = [0, 1, 2, 3]
result = ["짝수", "홀수", "짝수", "홀수"]

result = [
    "홀수" if data % 2 else "짝수" # 삼항연산
    for data in ls
]

result

['짝수', '홀수', '짝수', '홀수']

In [16]:
# 리스트 컴프리헨션 조건문 : 필터링 기능
ls = range(10)
[data for data in ls if data % 2] # 조건이 참이 될 때만 데이터에 저장이 됨

[1, 3, 5, 7, 9]

In [22]:
ls = [1, 2, 3]
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['clear', 'copy', 'count']

### for문과 list comprehenshion 성능 비교

In [31]:
%%timeit
ls = []
for num in range(1,10001) :
    if num % 3 == 0 :
        ls.append(num)
len(ls)

8.54 ms ± 2.08 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [28]:
%%timeit
ls = [num for num in range(1, 10001) if num % 3 == 0]
len(ls)

5.29 ms ± 1.14 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)