### class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

### 1. 기본 클래스의 사용

In [28]:
# 클래스의 선언 : 컨벤션 상 클래스는 카멜 케이스, 대문자 쓰기
# 클래스에 선언되는 함수는 가장 첫번째 파라미터로 self를 사용한다.
# 클래스 안에 있는 function은 method라고 부름

class Calculator: # 설계도
    
    num1 = 1
    num2 = 2
    
    def plus(self):
        return self.num1 + self.num2 # self는 곧 객체 자신이므로 self.num1 == calc.num1
    
    def minus(self):
        return self.num1 - self.num2

In [29]:
# 클래스의 사용

calc = Calculator() # 객체
calc

In [30]:
calc.num1, calc.num2, calc.plus()

(1, 2, 3)

In [31]:
calc.minus()

-1

In [32]:
# self 의 의미 : 객체 자신
calc2 = Calculator()

In [34]:
calc2.num1 = 10

In [35]:
calc2.plus() # calc2.num1 + calc2.num2 = 10 + 2 = 12

12

In [ ]:
### 2. 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 설계도 작성(class) -> 실제 물건(object)
- 사용자 정의 데이터 타입

In [36]:
calc2.plus()

12

In [37]:
obj = "python"
obj.upper()
# obj는 객체, python 이라는 문자열을 재료로 가지고 있으며 문자열 설계도의 upper()를 적용

'PYTHON'

In [38]:
ls = [1, 3, 2]
ls.sort()

In [39]:
ls

[1, 2, 3]

In [41]:
[data for data in dir(calc) if data[:2] != "__"]

['minus', 'num1', 'num2', 'plus']

### 3. 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용됩니다.

In [53]:
class Calculator: 
    
    # 생성자 함수 : __init__
    def __init__(self, num1, num2 = 10): 
        self.num1 = num1
        self.num2 = num2
        # 클래스를 객체로 만들 때 생성자 함수가 실행됨
        # 생성자 함수는 반드시 언더바 넣어줘야 함
    
    def plus(self):
        return self.num1 + self.num2 
    
    def minus(self):
        return self.num1 - self.num2

In [54]:
calc1 = Calculator(3)

In [55]:
calc1.plus()

13

In [56]:
calc1 = Calculator(3, 5)

In [57]:
calc1.plus()

8

In [58]:
# join
ls = ["python", "is", "good"]
sep = " "
sep.join(ls)

'python is good'

In [59]:
# pandas dataframe
import pandas as pd

In [61]:
df = pd.DataFrame([
    {"name":"jin", "age":20},
    {"name":"andy", "age":21}
])
df

   name  age
0   jin   20
1  andy   21