In [1]:
np.random.seed(0)
data = pd.Series(np.random.randint(1, 10, size=5), index=list("ABCDE"))

In [2]:
data

A    6
B    1
C    4
D    4
E    8
dtype: int32

In [3]:
result = data + 2

In [8]:
result

A    11
B    13
C     9
D     9
E    13
dtype: int32

In [5]:
result["B"] = 10

In [7]:
result = result + 3

In [11]:
df = pd.DataFrame({"Sex":['female', 'female', 'female', 'male', 'male', 'male'], 
                   "Pclass":[1, 2, 3, 1, 2, 3], 
                   "counts":[94, 76, 144, 122, 108, 347]}
                 )

In [12]:
df

      Sex  Pclass  counts
0  female       1      94
1  female       2      76
2  female       3     144
3    male       1     122
4    male       2     108
5    male       3     347

In [13]:
df.pivot("Pclass","Sex", "counts")

Sex     female  male
Pclass
1           94   122
2           76   108
3          144   347

In [41]:
class Myclass:
    def __init__(self, msg):
        self.__msg = msg
    
    def __str__(self):
            return "Print: {}".format(self.__msg)

In [40]:
c1 = Myclass("test")
print(c1)

Print: test